<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="ApplicationConnection" />
  <add name="ApplicationConnection" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=F:\Git\Spa\Spa\App_Data\db.mdf;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>

<!--<connectionStrings>
  <remove name="ApplicationConnection" />
  <add name="ApplicationConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=Spa;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->





